<% if platform == "netflix" %>
  <div class="d-flex justify-content-center align-items-center">
    <p class="details">8,99€/month for 1</p>
    <i class="fa-solid fa-tv"></i>
  </div>
<% elsif platform == "amazon" %>
  <div class="d-flex justify-content-center align-items-center">
   <p class="details">6,99€/month for 3</p>
   <i class="fa-solid fa-tv"></i>
  </div>
<% elsif platform == "disney" %>
  <div class="d-flex justify-content-center align-items-center">
    <p class="details">8,99€/month for 4</p>
    <i class="fa-solid fa-tv"></i>
  </div>
<% elsif platform == "aptv" %>
  <div class="d-flex justify-content-center align-items-center">
    <p class="details">6,99€/month for 1</p>
    <i class="fa-solid fa-tv"></i>
  </div>
<% end %>
