<% if platform == "netflix" %>

  <div class="row">
    <div class="col-sm-6"><strong>Price of sub :</strong></div>
    <div class="col-sm-6"> 8,99€/month</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Engagement :</strong></div>
    <div class="col-sm-6"> No</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Number of screens :</strong></div>
    <div class="col-sm-6"> 1</div>
  </div>

<% elsif platform == "amazon" %>

  <div class="row">
    <div class="col-sm-6"><strong>Price of sub :</strong></div>
    <div class="col-sm-6"> 6,99€/month</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Engagement :</strong></div>
    <div class="col-sm-6"> No</div>
  </div>
    <div class="row">
    <div class="col-sm-6"><strong>Welcome offer :</strong></div>
    <div class="col-sm-6"> 30 days free</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Number of screens :</strong></div>
    <div class="col-sm-6"> 3</div>
  </div>

<% elsif platform == "disney" %>

  <div class="row">
    <div class="col-sm-6"><strong>Price of sub :</strong></div>
    <div class="col-sm-6"> 8,99€/month</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Engagement :</strong></div>
    <div class="col-sm-6"> No</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Number of screens :</strong></div>
    <div class="col-sm-6"> 4</div>
  </div>

<% elsif platform == "aptv" %>

  <div class="row">
    <div class="col-sm-6"><strong>Price of sub :</strong></div>
    <div class="col-sm-6"> 6,99€/month</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Engagement :</strong></div>
    <div class="col-sm-6"> No</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Welcome offer :</strong></div>
    <div class="col-sm-6"> 7 days free</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong>Number of screens :</strong></div>
    <div class="col-sm-6"> 1</div>
  </div>

<% end %>
