<div class="favorites-container">
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li style="color: white;">
        <% movie = bookmark.movie %>
        <div data-remove-url5-value=<%= add_path(movie)%>>
        <%= render "cardmovie", movie: movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
