<div class="banner" style="background-image: url(http://res.cloudinary.com/dzdm1lpgi/image/upload/v1678711673/deyyyh8kpln5lrn6tnqx.jpg);">
  <div class="container">
    <p><span style="font-size: 50px;" data-controller="typed-js"></span></p>
  </div>
</div>

<%= render "list", movies: @movies %>
