<h1>My matches:</h1>
<div class="d-flex flex-row justify-content-evenly">
  <% @results.each do |result|
    if Contact.find(result[0].to_i).first_user_id == current_user.id
      user_id = Contact.find(result[0].to_i).second_user_id
    else
      user_id = Contact.find(result[0].to_i).first_user_id
    end
    user = User.find(user_id)
    bookmarks_u_ticked = user.bookmarks.where(ticked: true)
    bookmarks_u_liked = user.bookmarks.where(liked: true) %>

    <div class="d-flex flex-column align-items-center">
      <div>
        <%= cl_image_tag user.photo.key, class: "img-social" %>
        <div> <h3><%= user.first_name%></h3></div>
      </div>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column p-3">
          <h4>Wishlist</h4>
          <% bookmarks_u_ticked.each do |bookmark|
            movie = Movie.find(bookmark.movie_id) %>
            <div class="mb-3">
              <%= render "pages/cardmovie", movie: movie %>
            </div>
          <% end %>
        </div>

        <div class="d-flex flex-column p-3">
          <h4>Favorites</h4>
          <% bookmarks_u_liked.each do |bookmark|
            if bookmarks_u_ticked.exclude?(bookmark)
              movie = Movie.find(bookmark.movie_id) %>
              <div class="mb-3">
                <%= render "pages/cardmovie", movie: movie %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>
</div>
</div>
