$itemGrow: 1.2;
$duration: 250ms;

.carroussel-top {
  margin-bottom: 0px;
  margin-top: 40px;
  margin-left: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;
  margin-bottom: 10px;
}

section {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin: 20px auto;

  .item {
    padding: 0 2px;
    transition: $duration all;

    // &:hover {
    //   margin: 0 40px;
    //   transform: scale(1.2);
    // }

  }

  & > a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background:rgb(0,0,0);
    width: 80px;
    padding: 0px;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);

    &:nth-of-type(1) {
      top:0; bottom:0; left:0;
      // background: linear-gradient(-90deg, gba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      margin-left: -65px;
      margin-top: 60px;
    }
    &:nth-of-type(2) {
      top:0; bottom:0; right: 0;
      // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      margin-right: -65px;
      margin-top: 60px;
    }

    &:hover {
      color:#5C17A6;
    }
  }

}

.separation {
  width: 600px;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgba(191, 123, 255, 0.781);
  background-color: var(--glow-color);
  margin: 0 auto;
  box-shadow: 0 0 0.1em 0.2px var(--glow-color), 0 0 1.5em 4px var(--glow-spread-color), inset 0 0 0.5em 0.1em var(--glow-color)
}

// Remove the arrow for Mobile
// @media only screen and (max-width: 600px) {
//   a.arrow__btn {
//     display:none;
//   }
// }
