.favorites-container {
  display: flex;
  min-height: calc(100vh - 194px);
  margin-top: 2rem;
}

.favorites-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.favorites-container li {
  margin: 10px;
  list-style: none;
}
