//Container pages login (Signin, signup, forgot password)

.container-login {
  background-size: cover;
  padding: 100px;
  min-height: calc(100vh - 166px);
}

.login {
  width: 350px;
  margin: 0 auto;
  margin-top: 100px;
}


.login-sign-up {
  width: 350px;
  margin: 0 auto;
}

.login-sign-up .form-text{
  color:white;
  font-weight: bold;
}

// Login title page

.login-sign-up h2{
  color: white;
  padding-bottom: 50px;
  text-align: center;
}

.login h2 {
  color: white;
  padding-bottom: 50px;
  text-align: center;
}

.login-links {
  margin-left: 5px;
}

//Input form

.input-login {
  border-radius: 30px;
  background-color: white;
  height: 45px;
  opacity: 0.7;
  color: black;
}

.input-login:focus {
  box-shadow: none;
  color: black;
  background-color: white;
  border:none;
}

.input-login::-moz-placeholder {
  color: grey;
}
.input-login::placeholder {
  color: grey;
}

//INPUT LOGIN EDIT

.input-login-edit {
  border-radius: 30px;
  color:black;
  background-color: white;
  height: 45px;
  opacity: 0.7;
}

.input-login-edit .form-text{
  color:white;
}

.input-login-edit:focus {
  box-shadow: none;
  background-color: white;
  border:none;
  opacity: 0.9;
  color:black
}

.input-login-edit::-moz-placeholder {
  color: grey;
}
.input-login-edit::placeholder {
  color: grey;
}

// button

.btn-login {
  border-radius: 30px;
  width: 100%;
  height: 45px;
  background: #f0c79d;
  border: none;
  color: white;
  font-size:20px;
}

.btn-login:hover {
  opacity: 0.8;
}

.btn-login2{
  border-radius: 30px;
  width: 100%;
  height: 45px;
  background: #f0c79d;
  border: none;
  color: white;
  font-size:15px;
}

.btn-login2:hover {
  opacity: 0.8 !important;
  background-color: #f0c79d;
  color:white;
}

.bottom-btn{
  display: flex;
  justify-content: space-between;
}

.bottom-btn2{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.bottom-btn3 {
  display: flex;
  justify-content: space-between;
  font-size:16px;
  margin-top: 25px;
}

.bottom-btn label{
  color:white;
}

.btn-forgot {
  text-decoration: none;
  color: white;
}

.btn-forgot:hover {
  opacity: 0.7;
  color: white;
}

.btn-forgot2 {
  text-decoration: none;
  color: white;
}

.btn-forgot2:hover {
  opacity: 0.7;
  color: white;
}

// Form-check

.form-check-input:checked{
  background-color:#f0c79d;
  border:none;
  box-shadow:none;
}

.form-check-input{
  border:none;
  box-shadow:none;
  background-color: white;
}
