body {
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content:center;
  align-items:center;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.modal-backdrop {
  background: transparent;
}

.movie-modal {
  @extend .modal;
  display: flex;
  flex-direction: row;
  position: absolute;
  position: relative;
  border-radius: 6px;
  width: 70vw;
  height: 287px;
  background-color: black;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
      height: 100%;
      width: auto;
    }

    .midle-part {
      display: flex;
      flex-direction: column;
      width: 55%;

      p {
        text-align: justify;
      }

      .top {
        margin-bottom: 25px;
      }

      .fa-star {
        color: rgb(217, 176, 255);
      }

      .fa-star-half-stroke {
        color: rgb(217, 176, 255);
      }
    }

    .right-part {
      display: flex;
      flex-direction: column;
      width: 30%;

      .platform {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
      }

      .platform img {
        height: 60px;
      }

      .info {
        color: rgb(185, 185, 185);
      }
    }
  }

  .icon-cross {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: grey;
  }

  .icon-cross:hover {
    color: white;
  }
}
