.navbar-lewagon {
  justify-content: space-between;
  background: #242424;
  position: sticky;
  top: 0;
  z-index: 1000;
  li {
    color: white;
    padding: 5px;
  }
  li a:hover {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    color: var(--glow-color);
    text-shadow: var(--glow-spread-color) 1px 0 10px;
  }
  a {
    color: white;
    position: relative;
    display: inline-block;
  }
  a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(217, 176, 255);
    border-radius: 4px;
    scale: 0 1;
    border: rgb(217, 176, 255);
    transform-origin: center;
    transition: scale 0.25s;
  }
  a:hover::before {
    scale: 1;
  }
  // Icone Social

  // i {
    //   padding: 0px 10px 0px 10px;
    //   --glow-color: rgb(217, 176, 255);
    //   --glow-spread-color: rgba(191, 123, 255, 0.781);
    //   --enhanced-glow-color: rgb(231, 206, 255);
    //   text-shadow: 0 0 0.6em .25em var(--glow-color),
    //     0 0 2.5em 2em var(--glow-spread-color),
    //     inset 0 0 .5em .1em var(--glow-color);
    // }
}



.navbar-lewagon .navbar-collapse {
  color: white
}

// Logo homepage

.navbar-lewagon .navbar-brand img {
  width: 50px;
  text-decoration: none;
}

// Photo profil navbar
.profile-name{
  color: white;
}
.profile-name:hover{
  color: white;
}

.downdrop {
  background: #242424;

  a {
    color: white;
  }

  a:hover {
    color: white !important;
    text-shadow: none !important;
    font-weight: bold;
    background-color: #242424;
  }
}

//Searchbar

.navbar-first {
  flex: 0;
}

.navbar-second {
  flex: 1;
  margin-left: 10px;
  :first-child {
    margin-left: auto;
  }
}

.nav-item-search {
  flex: 1;
}

.group6 {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input6 {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 30px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input6::placeholder {
  color: #9e9ea7;
}

.input6:focus,
input6:hover {
  outline: none;
  border-color: none;
  background-color: #fff;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .1em var(--glow-color);
}

.search-icon {
  position: absolute;
  color: grey;
  margin-left: 5px
}
